{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>

    <link rel="stylesheet" href="{% static 'css/home-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/particles.css' %}">
    <title>Mint Generative Token On FXHASH</title>
    <script type="text/javascript">
        $(document).ready(function () {

            var frm = $('#mint-form');
            var csv_frm = $('#mint-csv-form');
            var freq = 1000; // freqency of update in ms
            var progress_url = "{% url 'update_process' %}";
            let progress = 0;
            const progressBar = document.querySelector('.progressBar');
            const bar = progressBar.querySelector('.bar')
            const progressBarText = progressBar.querySelector('h3');
            $body = $("body");

            csv_frm.on('submit',function (e){

                e.preventDefault();
                window.location.stop = 'False'
                update_progress_info()
                var data = new FormData($('form').get(1));
                  $.ajax({
                    url: '{% url 'mint_multiple' %}',
                    type: 'POST',
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                      beforeSend:function() { $body.addClass("loading"); },

                    success: function(data) {
                        alert(data.msg);
                        document.getElementById('cmd').style.display = 'block';
                        document.getElementById('content').innerHTML = data.data;
                        window.location.stop = 'True' // mark form as submitted.

                    },
            complete:function () {
                $body.removeClass("loading");
            }
            ,
                    error: function (data) {
                        window.location.stop = 'True' // mark form as submitted.

                        alert("Something went wrong!");
                    }
                 });
                return false;
            });

            frm.on('submit', function (e) {
                e.preventDefault();
                document.getElementById('progressBar').style.display = 'block'
                window.location.stop = 'False'

                update_progress_info()

                    $.ajax({
                        type: "post",
                        url: "{% url 'mint_request' %}",
                        data: frm.serialize(),
                        beforeSend:function() { $body.addClass("loading"); },

                        success: function (data) {
                            alert(data.msg);
                            window.location.stop = 'True'// mark form as submitted.

                        },
                        complete:function () {
                            $body.removeClass("loading");
                        }
                        ,

                        error: function (data) {
                            window.location.stop = 'True' // mark form as submitted.

                            alert("Something went wrong!");
                        }
                    });
                return false;
            });


                    // Update progress bar
        function update_progress_info() {
            if (window.location.stop === 'True'){
                bar.style.width = '100%';
                  progressBarText.innerHTML = '100%';
                return false;
            }
            else {
                $.getJSON(progress_url, function(data, status){
                if (data) {
                    progress = data.update_progress
                        bar.style.width = progress + '%';
                        progressBarText.innerHTML = `${progress} %`;
                }
                window.setTimeout(update_progress_info, freq);
                });

            }
        };

            choice()
            var doc = new jsPDF();
            var specialElementHandlers = {
                '#editor': function (element, renderer) {
                    return true;
                }
            };

            $('#cmd').click(function () {
                doc.fromHTML($('#content').html(), 15, 15, {
                    'width': 170,
                        'elementHandlers': specialElementHandlers
                });
                doc.save('MintingReport.pdf');
            });


        });


    </script>
    <script>
        function choice() {
            $('input[type=radio][name=choice]').on('change', function () {
                switch ($(this).val()) {
                    case 'csv':
                        document.getElementById('csv-block').style.display = 'block';
                        document.getElementById('wallet-block').style.display = 'None';

                        break;
                    case 'wallet':
                        document.getElementById('wallet-block').style.display = 'block';
                        document.getElementById('csv-block').style.display = 'None';

                        break;
                }
            });
        }

    </script>
    <style>
        input[type=radio]{
            margin-top: -15px;
            display: flex;
        }
        .center {
            margin: auto;
            width: 70%;
            padding: 10px;
        }

        th, td {
            padding: 5px;
        }
        .modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

    body.loading .modal {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}
.progressBar {
  width: 400px;
}
.bar {
  height: 20px;
  background-color: #bada55;
  width: 0;
  max-width: 400px;
  transition: width 0.2s cubic-bezier(1, 0.64, 0, 1.26)
}

    </style>
</head>
<body>

    <div id="particles-js" style="min-height: 1200px"></div>
        <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

        <div class="loginbox" style="min-width: 50%;min-height: 100%">

                        <div class='control'>

                            <h1 >Mint Generative Token</h1>
                        </div>

            <div class="form" style="min-width: 80%">
                        <div class=''>
                          Upload A CSV  <input type="radio" name="choice" id="csv" checked="checked"
                                                       value="csv" style="">
                           Use Single Wallet<input type="radio" name="choice" id="wallet" value="wallet">
                        </div>
            </div>
            <div id="wallet-block" style="display: None">
                <form id="mint-form" method="post" class="form" style="min-width: 80%">



                                <div class='control block-cube block-input' style="margin-top: 30px">
                                    Private Key:<input type="text" name=key placeholder="Enter Private Key...."
                                                             class="form-control"
                                                             style="border-width: 0px;" required>
                                        <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>
                    <div class='control block-cube block-input'>
                                                    Token Id
            <input type="text" class="form-control" name="token_key" id="token_key" placeholder="Enter Token Key/ID eg.5413" style="border-width: 0px;" required="">                                        <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

                    <div class='control block-cube block-input'>
                                                    Token Price
                                                    : <input type="number" step="0.01" class="form-control" name="price"
                                                             id="price" placeholder="Enter Token Price"
                                                              required>
                                        <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

            <div class='control block-cube block-input'>
                                                    Numbers Of Tokens
                                                    : <input type="number" class="form-control" name="number"
                                                             placeholder="Enter Numbers Of Tokens"
                                                             style="" required>
            <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
            </div>

                                            <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                Low Gas Price<input type="radio" name="gas_type" value="low">
                                Moderate Gas Price   <input type="radio" name="gas_type" value="moderate">
                                High Gas Price <input type="radio" name="gas_type" value="high">
                                </div>
                            </div>
                        </div>


                    <button class='btn block-cube block-cube-hover' id="mint-button" style="margin-top: 30px" name="mint-button" value="Mint"  type='submit'>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    Mint
                </div>
            </button>


                                </form>

                            </div>
                            <form id="mint-csv-form" class="form" style="min-width: 80%">
                                <div class="input" id="csv-block" style="display: block">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="file" name="csv-file" accept="text/csv">
                                            </div>
                                        </div>
                                    </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                Low Gas Price<input type="radio" name="gas_type" value="low">
                                Moderate Gas Price   <input type="radio" name="gas_type" value="moderate">
                                High Gas Price <input type="radio" name="gas_type" value="high">
                                </div>
                            </div>
                        </div>

{#                                    <input type="submit" id="mint-button" name="mint-button" value="Mint"#}
{#                                                   class="btn btn-primary">#}
                                    <button class='btn block-cube block-cube-hover' id="mint-button" style="margin-top: 30px" name="mint-button" value="Mint"  type='submit'>
                <div class='bg-top'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                    <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                    <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    Mint
                </div>
            </button>
                                </div>
                            </form>
            <div class="form" style="min-width: 80%">

                                            <div id="progressBar" class="progressBar" style="display:none;">
                          <div class="bar"></div>
                          <h3>0 %</h3>
                        </div>
                            <div id="content" style="display: None">

                    </div>
                    <div id="editor"></div>
                    <button id="cmd" class="btn btn-info" style="display: None">Download Report</button>


            </div>

        </div>

            <div class="modal"><!-- Place at bottom of page --></div>

</body>
</html>